body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
}


.inicio{
    background: #525866;
    display: inline-block;
    margin:auto;
    width: 100%;
}

.texto-cabecario{
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    position: relative;
    padding: 20px 0 20px;
    left: 20%;

}

.fone{
    font-size: 16px;
    color: #ffffff;
    position: relative ;
    display: inline-block;
    left: 24%;
    padding: 10px 20px 12px 20px;
}

.imagem-fone{
    display: block;
    position: absolute;
    left:0px;
    margin: auto;
}

.email{
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    display:block;
    top: 1.2em;
    left: 60%;
    padding: 0px 20px 0px 20px;
}

.imagem-face , .imagem-twitter , .imagem-google{
    float: right;
    display: block;
    position: relative;
    width: 1em;
    bottom: 1em;
    left: 5em;
    border-left: 1px solid gainsboro;
}

.logo1{
    display: inline-block;
    position: relative;
    left: 19%;
    width: 16%;
}

.logo-grande{
    display: inline-block;
    width: 20%;
    top:-10px;
}

.menu{
    list-style: none;
    position: relative;
    padding-top: 20px;
    padding-bottom: 0px;
    left:25%;
    background-color:#ffffff; 
}

.menu li{
    font-size: 16px;
    text-align:center;
    position:relative; 
       float:left;
    padding:0 1em 0 1em;
    vertical-align: bottom;
    
}

#botton-home{
    text-align: center;
    display: inline-block;
    padding: 5px auto 5px auto;
    margin: 0px auto 5px auto;
    border-radius: 5px;
    border: #02adc6 solid 10px;
    background-color: #02adc6;
    bottom: 10px;
}

a{
    text-decoration: none;
    color: black;
}


.medical-guide,.produtos{
    width: 940px;
    margin-left: auto;
    margin-right: auto;

}

.produtos{
    height: 330px;
    margin-top: auto;
    padding-top: auto;
    padding-bottom: auto;
}

.produtos-doctors,.produtos-rehabilitation,.produtos-emergency,.produtos-creative{
    width: 400px;
    height: 66px;
    margin-right:3em ;
    margin-top: 3em;
    display: inline-block;
}
.produtos-imagem{
    float: left;
    width:66px;
    height: 66px;
    border-radius: 8px;
    padding: 2px 0 0 0;
    margin: 0px 10px auto 0;

}

.produtos-doctors h2, .produtos-rehabilitation h2, .produtos-emergency h2, .produtos-creative h2{

    margin-bottom: 8px;

}

.produtos-doctors p, .produtos-rehabilitation p, .produtos-emergency p, .produtos-creative p{
    font-size: 11px;

}

.medical-guide .imagem-medical-guide{
    width: 40%;
    height:300px;
    text-align: right;
}

.bloco2{
    background: #f5f5f5;
    height: 580px;
    
}

.titulo-medical-guide{
    font-size: 36px;
    padding-top: 1.5em;

}

.titulo-medical-guide b{
    font-weight: bold;

}    

.subtitulo-medical-guide{
    font-size: 12px;
}

.menu-medical-guide li{
    font-size: 16px;
    color:#646464;
    border-bottom: 1px #646464 solid;
    display: inline-block;
    text-align:center;
    position:relative; 
    padding:3em 0 0 0;
    margin-right: 3em;
    vertical-align: bottom;
    
    
}

.menu-medical-guide li:hover{
    font-size: 16px;
    color:#02adc6;
    font-weight: bold;
    border-bottom: 2px #02adc6 solid;
    display: inline-block;
    text-align:center;
    position:relative; 
    padding:3em 0 0 0;
    margin-right: 3em;
    vertical-align: bottom;
    
}

.titulo-texto-medical{
    margin-top: 2em;
    font-size: 26px;
    padding-bottom: 15px;
    font-weight: bold;
    
}

.imagem-medical-guide{
    float: left;
    padding: 2px 0 0 0;
    margin: 0px 40px auto 0;
    height: 290px;
}

.texto-imagem p{
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 23px;
    width: 92%;

}


.botao{
    background-color: #525866;
    text-align: center;
    font-size: 9px;
    border-radius: 5px;
    color: #ffffff;
    width: 115px;
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    border: rgba(0, 0, 255, 0);
    text-decoration: none;
}

.botao:hover{
    background-color: #7a7d85;
    text-align: center;
    font-size: 9px;
    border-radius: 5px;
    color: #ffffff;
    width: 115px;
    margin-top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    border: rgba(0, 0, 255, 0);
    text-decoration: none;
}

.bloco3{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.subtitulo-medical-guide{
    font-weight: bold;
}

.bloco3-doutores{
    width: 940px;
    margin: 0px auto;
    padding: 50px 0;
}

.bloco3-doutores li{
    margin: auto 30px auto 0;
    width: 256px;
    border: blue solid 3px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}


.bloco3-doutores h3{
    color:#02adc6;
    font-weight: bold;
}

.bloco3-doutores .sub{
    font-weight: bold;
    margin-bottom: 10px;
}

.bloco3-doutores p{
    font-size: 10px;
    margin-bottom: 20px;
}

.dotor img{
    width: 255px;
    height: 255px;
    margin-bottom: 20px;
    
}

.dotor .assinatura{
    font-weight: bold;
}


